.container {
  background-image: url(../../../assets/images/background.jpg);
  background-size: 100%;
  height: auto;
  max-width: 100%;
  padding: 13px;
}

.card {
  width: 18% !important;
  height: 25%;
  margin: 5px;
  background-color: rgba(186, 200, 202, 0.774);
  color: black;
}

img {
  width: 100%;
}

.card-body {
  padding: 13px;
  margin-top: 70px;
  text-align: center;
  font-size: 15px;
  text-align: center;
}

.card-name {
  font-size: 20px;
}

.btn-buy {
  width: 50%;
  height: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}